@charset "utf-8";

:root{
    /* Color */
    --color-white:#ffffff;
    --color-light-white:#eee;
    --color-dark-white:#bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-black:#000;
    --color-dark-grey:#4d4d4d;
    --color-grey:#616161;
    --color-light-grey:#7c7979;
    --color-blue:#73aace;
    --color-yellow:#fff7d1;
    --color-orange:#feb546;

    
    /* Size */
    --size-border-radius:4px;
    --size-width:800px;
    --size-height:500px;

    
    /* Animation */
    --animation-duration: 0.3s;
}
button{
    border:none;
    outline: none;
}
.game{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    margin: auto;
    background: url('img/background.png') center/cover;
    border-radius: 20px;
}
.game__header{
display: flex;
flex-direction: column;
align-items: center;
margin: auto;
padding: 20px;
}
.game__button{
    width: 60px;
    height: 60px;
    background-color: darksalmon;
    border: 4px solid black;
    border-radius: var(--size-border-radius);
    font-size: 24px;
    
}
.game__button i{
    transition:font-size var(--animation-duration) ease-in;
}
.game__button:hover i{
    font-size: 28px;
}
.game__timer{
    width: 100px;
    text-align: center;
    background-color: white;
    border: 4px solid black;
    border-radius: var(--size-border-radius);
    font-size: 32px;
    margin-top: 8px; 
    visibility:hidden;
    user-select:none ;
    cursor:auto;
    
}
.game__score{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 46px;
    background-color: white;
    border: 4px solid black;
    border-radius: 50%;
    margin-top: 8px;
    line-height: 50px;
    visibility: hidden;
    user-select:none;
    cursor:auto;
}
.game__field{
    position:relative;
    width: 100%;
    height: 100%;
    margin-top: 40px;
}
.pop-up{
    display: block;
    width: 400px;
    height: 140px;
    margin: auto;
    padding: 20px;
    /* opacity: 0.7; 내용물까지 투명해짐 */
    background-color: #00000070; 
    border-radius: 20px;
    color:white;
    text-align: center;
    transform:translateY(-150%);
}
.pop-up--hide{
    display:none;
}
.pop-up__refresh{
    width: 60px;
    height: 60px;
    font-size: 24px;
    background-color: lightsalmon;
    border: 2px solid black;
    border-radius: 50%;
}
.pop-up__message{
    display:block;
    font-size: 24px;
}
.carrot , .bug{
    transition:transform 0.1s ease-in-out;
}
.carrot:hover, .bug:hover{
    transform:scale(1.1);
}